---
import Heading from "@components/heading/Heading.astro";
import Text from "../text/Text.astro";
import Link from "../link/Link.astro";
import Youtube from "@icons/youtube.svg";
import Instagram from "@icons/instagram.svg";
import Tiktok from "@icons/tiktok.svg";
import { Image } from "astro:assets";

import { ROUTES_NAV } from "@const/routes";

const legalLinks = [
  { href: "/terminos", label: "Términos y Condiciones" },
  { href: "/privacidad", label: "Política de Privacidad" },
];
---

<footer class="bg-complementary border-t text-white">
  <div class="container mx-auto px-4 py-12 sm:px-6 lg:px-8">
    <div class="grid gap-8 md:grid-cols-4">
      {/* Brand */}
      <div class="space-y-4">
        <Heading
          component="h6"
          className="flex items-center gap-x-3 font-semibold"
        >
          <Image
            src="/logos/logo.webp"
            alt="Logo Modo Guerra"
            width="32"
            height="32"
          />
          Modo Guerra
        </Heading>
        <Text className="text-muted-foreground text-sm">
          Modo Guerra es el sitio web de los compas, desarrolla tus habilidades,
          comparte tus cabezas de mamut, mejoremos juntos.
        </Text>
      </div>

      {/* Navigation */}
      <div>
        <h3 class="mb-4 font-semibold">Navegación</h3>
        <ul class="space-y-2 text-sm">
          {
            ROUTES_NAV.map((link) => (
              <li>
                <Link
                  href={link.path}
                  className="text-muted-foreground hover:text-secondary transition-colors"
                >
                  {link.name}
                </Link>
              </li>
            ))
          }
        </ul>
      </div>

      {/* Social & Legal */}
      <div>
        <h3 class="mb-4 font-semibold">Sígue al temach</h3>
        <div class="mb-6 flex space-x-4">
          <Link
            href="https://www.youtube.com/@ELTEMACH"
            className="text-muted-foreground hover:text-primary transition-colors"
          >
            <Youtube class="h-5 w-5" />
          </Link>

          <Link
            href="https://www.youtube.com/redirect?event=channel_description&redir_token=QUFFLUhqay05MU9FdmxhdUtmWXhXWmlpQnh1aDdWVE84QXxBQ3Jtc0tuMnI3SEtPN2JFMmpJa3gxeXpuOUoxMTJHZlJXWklJVk5jLTRuQ0Y0S1RCS1ZxOFQ0U3ctUEdVeGZqMVZXNzcyRHpVM0l6WXAxNFZlamJOZW5vQ2ZBMm9sME5QZUV2VW9lTXFiQnliUVlJZUFZcnlMSQ&q=https%3A%2F%2Fwww.instagram.com%2Feltemach"
            className="text-muted-foreground hover:text-primary transition-colors"
          >
            <Instagram class="h-5 w-5" />
          </Link>

          <Link
            href="https://www.tiktok.com/@eltemach"
            className="text-muted-foreground hover:text-primary transition-colors"
          >
            <Tiktok class="h-5 w-5" />
          </Link>
        </div>
        <ul class="space-y-2 text-sm">
          {
            legalLinks.map((link) => (
              <li>
                <Link href={link.href}>{link.label}</Link>
              </li>
            ))
          }
        </ul>
      </div>
    </div>

    <div class="text-muted-foreground mt-8 border-t pt-8 text-center text-sm">
      <Text>&copy; 2025 Modo Guerra.</Text>
    </div>
  </div>
</footer>
