---
import Section from "../Section.astro"

---

<Section className="mt-10">
  <h2 class="font-semibold text-mayus text-center text-2xl md:text-4xl">
   Sobre Nosotros
  </h2>
  <p class="text-sm">
    <span class="text-mayus">Modo Guerra </span>es una Red Social creada para la comunidad de los compas,
    con el objetivo de salir del mundo de redes sociales las cuales se comparte
    contenido que no aporta al desarrollo personal, creando la cadena viciosa de la procrastinación. 
    Por eso en modo guerra el objeticos es compartir tu progreso,
    conectar con compas alrededor de mundo y tener un soporte emocional
    en el camino del Alfa.
  </p>
</Section>
