<header class="">
  <nav class="flex flex-row justify-between items-center bg-zinc-900 h-16 px-10">
    <div class="flex items-center">
       <img src="/logo.webp"/>
       <h3 class="text-white uppercase font-semibold">Modo Guerra</h3>
    </div>

{   /*  <div class="space-x-5">
      <span>
      Sobre Nosotros
      </span>

      <span>
       Objetivos
      </span>
    </div> */}
  </nav>
</header>
