---
import Text from "../text/Text.astro";
import Calendar from "@icons/calendar.svg";
import { Image } from "astro:assets";
import type { Comment } from "@prisma/client";

import type { User } from "@interfaces";
import { dateFormat } from "@utils/date-format";

interface Props {
  comment: Comment & { user: User | null };
}

const { comment } = Astro.props;
---

<div class="border-accent rounded-md border p-5">
  <div class="flex justify-between">
    <div class="mb-5 flex items-center justify-between gap-x-3">
      <Image
        src={comment.user!.image || "/avatars/avatar-default.jpg"}
        alt={comment.user!.name || "Avatar por defecto"}
        width={32}
        height={32}
        class="h-8 w-8 rounded-full"
      />
      <Text fontSize="small" className="font-semibold"
        >{comment.user!.name}</Text
      >
    </div>

    <Text className="flex items-center text-sm">
      <Calendar class="w-4" />
      {dateFormat(comment.createdAt)}
    </Text>
  </div>

  <Text>{comment.content}</Text>
</div>
